<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap"
  rel="stylesheet"
/>

<ng-template #singleProduct> </ng-template>

<app-header></app-header>
<div class="container min-body">
  <ng-container *ngIf="!loggedin; else homeScreen">
    <app-login-form (isloggedin)="checkloginstatus($event)"></app-login-form>
  </ng-container>

  <ng-template #homeScreen>
    <div class="container-fluid">
      <main role="main" class="container">
        <router-outlet></router-outlet>
      </main>
    </div>
  </ng-template>
</div>

<app-footer></app-footer>
